body{
    width: 500px;
    margin: 10px auto;
}

.top{
    background-color: green;
}

.middle{
    overflow: hidden;
}

.middle>:first-child{
    width: 150px;
    background-color: red;
    float: left;
}
.middle>:last-child{
    width: 350px;
    background-color: blue;
    float: right;
}
.bottom{
    background-color: purple;
}

